input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.katex {
  font-family: 'Nunito', 'Arial', 'sans-serif' !important;
  font-weight: bold !important;
  font-size: 0.6em !important;
}

.katex .mathnormal {
  font-family: 'Nunito', 'Arial', 'sans-serif' !important;
  font-style: normal !important;
}

